<h2>Show Tracker</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @tracker.name %>
  </li>

  <li>
    <strong>Misc:</strong>
    <%= @tracker.misc %>
  </li>

</ul>

<span><%= link "Edit", to: tracker_path(@conn, :edit, @tracker) %></span>
<span><%= link "Back", to: tracker_path(@conn, :index) %></span>
